In [3]:
import pandas as pd 
import boto3

In [12]:
s3_client = boto3.resource(
    service_name = 's3',
    region_name = 'us-east-1',
    aws_access_key_id = 'XXXXXX',
    aws_secret_access_key = 'XXXXX'
)

In [5]:
for bucket in s3.buckets.all():
    print(bucket.name)

kabirbuckettut
transf-dob

In [8]:
bucket_name = 'transf-dob'
bucket = s3.Bucket(bucket_name)

In [9]:
print(f"Files in bucket '{bucket_name}':")
for obj in bucket.objects.all():
    print(obj.key)

Files in bucket 'transf-dob':
complaints_data_transformed.csv
violations_data_transformed.csv

In [10]:
file_key = 'complaints_data_transformed.csv'

In [16]:
import pandas as pd
import boto3
from io import StringIO

# Set up the S3 client
s3_client = boto3.client(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id='XXXXX',
    aws_secret_access_key='XXXXXXXX'
)

# Define the file and bucket
bucket_name = 'transf-dob'
file_key = 'complaints_data_transformed.csv'  # Replace with your actual file key

# Get the file object from S3 using the client
s3_object = s3_client.get_object(Bucket=bucket_name, Key=file_key)

# Read the object's content (assumed to be CSV)
s3_data = s3_object['Body'].read().decode('utf-8')

# Load the content into a pandas DataFrame
df = pd.read_csv(StringIO(s3_data))

# Display the DataFrame
print(df)

/var/folders/_r/82gxfcq11h968vttjmtdt7lh0000gn/T/ipykernel_71838/4164546134.py:24: DtypeWarning: Columns (5,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(StringIO(s3_data))

         complaint_number  status date_entered house_number  \
0                 3012631  CLOSED   10/22/1990         9725
1                 3007871  CLOSED   02/27/1990         2105
2                 1005092  CLOSED   01/16/1990           26
3                 3007966  CLOSED   03/02/1990         8419
4                 5003506  CLOSED   01/24/1990         1270
...                   ...     ...          ...          ...
2895348           2379977  CLOSED   11/09/2023         1060
2895349           3936227  CLOSED   11/21/2023         2378
2895350           5181063  CLOSED   11/27/2023       83 GAR
2895351           5181091  CLOSED   11/28/2023       83 GAR
2895352           4945224  CLOSED   12/12/2023       101-61

              house_street zip_code      bin community_board special_district  \
0               SHORE ROAD    11209  3155913             310              NaN
1               PACIFIC ST    11233  3038535             316              NaN
2        UNION SQUARE EAST    10003  1080796             105              NaN
3                   10 AVE      NaN  3152949               3              NaN
4          HUGUENOT AVENUE    10312  5082345             503              NaN
...                    ...      ...      ...             ...              ...
2895348  WASHINGTON AVENUE  10456.0  2001263           203.0              NaN
2895349    FLATBUSH AVENUE  11234.0  3241346           318.0              NaN
2895350      SUMNER AVENUE  10314.0  5139224           501.0              NaN
2895351      SUMNER AVENUE  10314.0  5139224           501.0              NaN
2895352         118 STREET  11419.0  4200541           409.0              NaN

        complaint_category   unit disposition_date disposition_code  \
0                        5  BKLYN       01/04/1991               I2
1                       29  BKLYN       03/09/1990               I2
2                       73   MAN.       03/05/1990               I2
3                        5  BKLYN       05/01/1990               B1
4                       73  ST.IS       01/25/1990               I1
...                    ...    ...              ...              ...
2895348                 1U  SPOPS       11/14/2023               A8
2895349                 49  SPOPS       11/21/2023               A8
2895350                 05  SPOPS       03/19/2024               A8
2895351                 1U  SPOPS       11/28/2023               A3
2895352                 35   QNS.       08/07/2024               A8

        inspection_date  dobrundate                full_add  \
0            01/04/1991  2024-10-05         9725 SHORE ROAD
1            02/28/1990  2024-10-05         2105 PACIFIC ST
2            02/01/1990  2024-10-05    26 UNION SQUARE EAST
3            03/05/1990  2024-10-05             8419 10 AVE
4            01/25/1990  2024-10-05    1270 HUGUENOT AVENUE
...                 ...         ...                     ...
2895348      11/09/2023  2024-10-05  1060 WASHINGTON AVENUE
2895349      11/21/2023  2024-10-05    2378 FLATBUSH AVENUE
2895350      03/19/2024  2024-10-05    83 GAR SUMNER AVENUE
2895351      11/28/2023  2024-10-05    83 GAR SUMNER AVENUE
2895352      08/07/2024  2024-10-05       101-61 118 STREET

        Complaint Issue Date  Complaint Year  Month  Day
0                 1990-10-22            1990     10   22
1                 1990-02-27            1990      2   27
2                 1990-01-16            1990      1   16
3                 1990-03-02            1990      3    2
4                 1990-01-24            1990      1   24
...                      ...             ...    ...  ...
2895348           2023-11-09            2023     11    9
2895349           2023-11-21            2023     11   21
2895350           2023-11-27            2023     11   27
2895351           2023-11-28            2023     11   28
2895352           2023-12-12            2023     12   12

[2895353 rows x 20 columns]

In [18]:
df.head()

,complaint_number,status,date_entered,house_number,house_street,zip_code,bin,community_board,special_district,complaint_category,unit,disposition_date,disposition_code,inspection_date,dobrundate,full_add,Complaint Issue Date,Complaint Year,Month,Day
0,3012631,CLOSED,10/22/1990,9725,SHORE ROAD,11209,3155913,310,NaN,5,BKLYN,01/04/1991,I2,01/04/1991,2024-10-05,9725 SHORE ROAD,1990-10-22,1990,10,22
1,3007871,CLOSED,02/27/1990,2105,PACIFIC ST,11233,3038535,316,NaN,29,BKLYN,03/09/1990,I2,02/28/1990,2024-10-05,2105 PACIFIC ST,1990-02-27,1990,2,27
2,1005092,CLOSED,01/16/1990,26,UNION SQUARE EAST,10003,1080796,105,NaN,73,MAN.,03/05/1990,I2,02/01/1990,2024-10-05,26 UNION SQUARE EAST,1990-01-16,1990,1,16
3,3007966,CLOSED,03/02/1990,8419,10 AVE,NaN,3152949,3,NaN,5,BKLYN,05/01/1990,B1,03/05/1990,2024-10-05,8419 10 AVE,1990-03-02,1990,3,2
4,5003506,CLOSED,01/24/1990,1270,HUGUENOT AVENUE,10312,5082345,503,NaN,73,ST.IS,01/25/1990,I1,01/25/1990,2024-10-05,1270 HUGUENOT AVENUE,1990-01-24,1990,1,24

In [19]:
bucket_name_1 = 'transf-dob'
file_key_1 = 'violations_data_transformed.csv'  # Replace with your actual file key

# Get the file object from S3 using the client
s3_object = s3_client.get_object(Bucket=bucket_name_1, Key=file_key_1)

# Read the object's content (assumed to be CSV)
s3_data = s3_object['Body'].read().decode('utf-8')

# Load the content into a pandas DataFrame
df_vio = pd.read_csv(StringIO(s3_data))

/var/folders/_r/82gxfcq11h968vttjmtdt7lh0000gn/T/ipykernel_71838/490289510.py:11: DtypeWarning: Columns (1,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_vio = pd.read_csv(StringIO(s3_data))

In [23]:
df.drop(columns=['bin', 'community_board', 'special_district', 'disposition_date', 'disposition_code', 
                         'dobrundate', 'inspection_date'], axis=1, inplace=True)

In [24]:
df.head()

,complaint_number,status,date_entered,house_number,house_street,zip_code,complaint_category,unit,full_add,Complaint Issue Date,Complaint Year,Month,Day
0,3012631,CLOSED,10/22/1990,9725,SHORE ROAD,11209,5,BKLYN,9725 SHORE ROAD,1990-10-22,1990,10,22
1,3007871,CLOSED,02/27/1990,2105,PACIFIC ST,11233,29,BKLYN,2105 PACIFIC ST,1990-02-27,1990,2,27
2,1005092,CLOSED,01/16/1990,26,UNION SQUARE EAST,10003,73,MAN.,26 UNION SQUARE EAST,1990-01-16,1990,1,16
3,3007966,CLOSED,03/02/1990,8419,10 AVE,NaN,5,BKLYN,8419 10 AVE,1990-03-02,1990,3,2
4,5003506,CLOSED,01/24/1990,1270,HUGUENOT AVENUE,10312,73,ST.IS,1270 HUGUENOT AVENUE,1990-01-24,1990,1,24

In [25]:

cols_to_drop = ['boro', 'bin', 'lot', 'block', 'disposition_date', 'disposition_comments', 'device_number', 
                    'ecb_number', 'house_number', 'street', 'issue_date', 'isn_dob_bis_viol']
df_vio.drop(columns=cols_to_drop, axis=1, inplace=True)

In [26]:
df_vio.head()

,violation_type_code,violation_number,description,number,violation_category,violation_type,full_add,Violation Issue Date,Year,Month,Day
0,E,1391A/02,51)CLEAN INSTALLATION 52)REPAIR CAB WALLS 53)P...,V121788E1391A/02,V-DOB VIOLATION - ACTIVE,E-ELEVATOR ...,37 WESTERN AVENUE,1970-01-01 00:00:00.019881217,1970.0,1.0,1.0
1,C,0805GPF,NaN,V110388C0805GPF,V-DOB VIOLATION - ACTIVE,C-CONSTRUCTION ...,16 MONTREAL AVENUE,1970-01-01 00:00:00.019881103,1970.0,1.0,1.0
2,UB,-77/88,NaN,V111888UB-77/88,V-DOB VIOLATION - ACTIVE,UB-UNSAFE BUILDINGS ...,261 HAMILTON AVENUE,1970-01-01 00:00:00.019881118,1970.0,1.0,1.0
3,C,ESAC1,NaN,V101488CESAC1,V-DOB VIOLATION - ACTIVE,C-CONSTRUCTION ...,1131 BAY STREET,1970-01-01 00:00:00.019881014,1970.0,1.0,1.0
4,C,0901GPF,NaN,V110388C0901GPF,V-DOB VIOLATION - ACTIVE,C-CONSTRUCTION ...,360 BARLOW AVENUE,1970-01-01 00:00:00.019881103,1970.0,1.0,1.0

In [27]:
df_vio['description'] = df_vio['description'].fillna("Violation Remarks not provided")

In [28]:
df_vio.head()

,violation_type_code,violation_number,description,number,violation_category,violation_type,full_add,Violation Issue Date,Year,Month,Day
0,E,1391A/02,51)CLEAN INSTALLATION 52)REPAIR CAB WALLS 53)P...,V121788E1391A/02,V-DOB VIOLATION - ACTIVE,E-ELEVATOR ...,37 WESTERN AVENUE,1970-01-01 00:00:00.019881217,1970.0,1.0,1.0
1,C,0805GPF,Violation Remarks not provided,V110388C0805GPF,V-DOB VIOLATION - ACTIVE,C-CONSTRUCTION ...,16 MONTREAL AVENUE,1970-01-01 00:00:00.019881103,1970.0,1.0,1.0
2,UB,-77/88,Violation Remarks not provided,V111888UB-77/88,V-DOB VIOLATION - ACTIVE,UB-UNSAFE BUILDINGS ...,261 HAMILTON AVENUE,1970-01-01 00:00:00.019881118,1970.0,1.0,1.0
3,C,ESAC1,Violation Remarks not provided,V101488CESAC1,V-DOB VIOLATION - ACTIVE,C-CONSTRUCTION ...,1131 BAY STREET,1970-01-01 00:00:00.019881014,1970.0,1.0,1.0
4,C,0901GPF,Violation Remarks not provided,V110388C0901GPF,V-DOB VIOLATION - ACTIVE,C-CONSTRUCTION ...,360 BARLOW AVENUE,1970-01-01 00:00:00.019881103,1970.0,1.0,1.0

In [76]:
new_test = df_vio.groupby(['violation_category','violation_type'])['violation_number'].count().reset_index()

In [77]:
new_test.head

<bound method NDFrame.head of                                  violation_category  \
0                          V-DOB VIOLATION - ACTIVE
1                          V-DOB VIOLATION - ACTIVE
2                          V-DOB VIOLATION - ACTIVE
3                          V-DOB VIOLATION - ACTIVE
4                          V-DOB VIOLATION - ACTIVE
..                                              ...
92        VW-VIOLATION WORK WITHOUT PERMIT - ACTIVE
93        VW-VIOLATION WORK WITHOUT PERMIT - ACTIVE
94  VWH-VIOLATION WORK W/OUT PMT HAZARDOUS - ACTIVE
95  VWH-VIOLATION WORK W/OUT PMT HAZARDOUS - ACTIVE
96  VWH-VIOLATION WORK W/OUT PMT HAZARDOUS - ACTIVE

                                       violation_type  violation_number
0   A-SEU                                         ...                56
1   ACC1-(OTHER BLDGS TYPES) - ELEVATOR AFFIRMATIO...             17302
2   ACH1-(NYCHA) - ELEVATOR AFFIRMATION OF CORRECT...                31
3   ACJ1-(PRIVATE RESIDENCE) - ELEVATOR AFFIRMATIO...               563
4   AEUHAZ1-FAIL TO CERTIFY CLASS 1               ...             31306
..                                                ...               ...
92  UB-UNSAFE BUILDINGS                           ...                 1
93  Z-ZONING                                      ...                15
94  C-CONSTRUCTION                                ...                66
95  E-ELEVATOR                                    ...                 1
96  P-PLUMBING                                    ...                 4

[97 rows x 3 columns]>

In [29]:
com_df = df

In [30]:
vio_df = df_vio

In [32]:
#rewrite vio_df to the violations_complaints_data_transformed.csv in s3bucket
vio_df.to_csv('violations_data_transformed.csv', index=False)

s3_client.upload_file(Filename='violations_data_transformed.csv', Bucket='transf-dob', Key='violations_data_transformed.csv')

In [34]:
com_df.to_csv('complaints_data_transformed.csv', index=False)

s3_client.upload_file(Filename='complaints_data_transformed.csv', Bucket='transf-dob', Key='complaints_data_transformed.csv')

In [35]:
com_df.head()

,complaint_number,status,date_entered,house_number,house_street,zip_code,complaint_category,unit,full_add,Complaint Issue Date,Complaint Year,Month,Day
0,3012631,CLOSED,10/22/1990,9725,SHORE ROAD,11209,5,BKLYN,9725 SHORE ROAD,1990-10-22,1990,10,22
1,3007871,CLOSED,02/27/1990,2105,PACIFIC ST,11233,29,BKLYN,2105 PACIFIC ST,1990-02-27,1990,2,27
2,1005092,CLOSED,01/16/1990,26,UNION SQUARE EAST,10003,73,MAN.,26 UNION SQUARE EAST,1990-01-16,1990,1,16
3,3007966,CLOSED,03/02/1990,8419,10 AVE,NaN,5,BKLYN,8419 10 AVE,1990-03-02,1990,3,2
4,5003506,CLOSED,01/24/1990,1270,HUGUENOT AVENUE,10312,73,ST.IS,1270 HUGUENOT AVENUE,1990-01-24,1990,1,24

In [36]:
cols_to_drop = ['house_number','house_street','zip_code']
com_df.drop(columns=cols_to_drop, axis=1, inplace=True)

In [37]:
com_df.head()

,complaint_number,status,date_entered,complaint_category,unit,full_add,Complaint Issue Date,Complaint Year,Month,Day
0,3012631,CLOSED,10/22/1990,5,BKLYN,9725 SHORE ROAD,1990-10-22,1990,10,22
1,3007871,CLOSED,02/27/1990,29,BKLYN,2105 PACIFIC ST,1990-02-27,1990,2,27
2,1005092,CLOSED,01/16/1990,73,MAN.,26 UNION SQUARE EAST,1990-01-16,1990,1,16
3,3007966,CLOSED,03/02/1990,5,BKLYN,8419 10 AVE,1990-03-02,1990,3,2
4,5003506,CLOSED,01/24/1990,73,ST.IS,1270 HUGUENOT AVENUE,1990-01-24,1990,1,24

In [39]:
expl = pd.read_csv('/Users/rashedulkabir/Code/Complaints&ViolationsETL/expl.csv', encoding='ISO-8859-1')

In [40]:
expl.head()

  CODE                  COMPLAINT CATEGORY DESCRIPTION PRIORITY
0    1               Accident -  Construction/Plumbing        A
1    3              Adjacent Buildings - Not Protected        A
2    4                      After Hours Work - Illegal        B
3    5           Permit - None (Building/PA/Demo etc.)        B
4    6  Construction - Change Grade/Change Watercourse        B

In [47]:
expl = expl.rename(columns={'Complaint Category': 'complaint_category'})

In [48]:
expl['complaint_category'] = expl['complaint_category'].astype(str)

In [49]:
com_df = pd.merge(com_df, expl, on='complaint_category', how='left')

In [ ]:
com_df['complaint_category'] = com_df['complaint_category'].astype(str)

In [56]:
com_df.head()

,complaint_number,status,date_entered,complaint_category,unit,full_add,Complaint Issue Date,Complaint Year,Month,Day,COMPLAINT CATEGORY DESCRIPTION,PRIORITY
0,3012631,CLOSED,10/22/1990,5,BKLYN,9725 SHORE ROAD,1990-10-22,1990,10,22,NaN,NaN
1,3007871,CLOSED,02/27/1990,29,BKLYN,2105 PACIFIC ST,1990-02-27,1990,2,27,NaN,NaN
2,1005092,CLOSED,01/16/1990,73,MAN.,26 UNION SQUARE EAST,1990-01-16,1990,1,16,NaN,NaN
3,3007966,CLOSED,03/02/1990,5,BKLYN,8419 10 AVE,1990-03-02,1990,3,2,NaN,NaN
4,5003506,CLOSED,01/24/1990,73,ST.IS,1270 HUGUENOT AVENUE,1990-01-24,1990,1,24,NaN,NaN

In [51]:
com_df.dtypes

complaint_number                   int64
status                            object
date_entered                      object
complaint_category                object
unit                              object
full_add                          object
Complaint Issue Date              object
Complaint Year                     int64
Month                              int64
Day                                int64
COMPLAINT CATEGORY DESCRIPTION    object
PRIORITY                          object
dtype: object

In [53]:
com_df_or = pd.read_csv('/Users/rashedulkabir/Code/Complaints&ViolationsETL/complaints_data_transformed.csv', encoding='ISO-8859-1')

/var/folders/_r/82gxfcq11h968vttjmtdt7lh0000gn/T/ipykernel_71838/1640648490.py:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  com_df_or = pd.read_csv('/Users/rashedulkabir/Code/Complaints&ViolationsETL/complaints_data_transformed.csv', encoding='ISO-8859-1')

In [55]:
com_df_or

complaint_number         int64
status                  object
date_entered            object
house_number            object
house_street            object
zip_code                object
complaint_category      object
unit                    object
full_add                object
Complaint Issue Date    object
Complaint Year           int64
Month                    int64
Day                      int64
dtype: object

In [57]:
cols_to_drop = ['house_number','house_street','zip_code']
com_df_or.drop(columns=cols_to_drop, axis=1, inplace=True)

In [58]:
com_df_or

,complaint_number,status,date_entered,complaint_category,unit,full_add,Complaint Issue Date,Complaint Year,Month,Day
0,3012631,CLOSED,10/22/1990,5,BKLYN,9725 SHORE ROAD,1990-10-22,1990,10,22
1,3007871,CLOSED,02/27/1990,29,BKLYN,2105 PACIFIC ST,1990-02-27,1990,2,27
2,1005092,CLOSED,01/16/1990,73,MAN.,26 UNION SQUARE EAST,1990-01-16,1990,1,16
3,3007966,CLOSED,03/02/1990,5,BKLYN,8419 10 AVE,1990-03-02,1990,3,2
4,5003506,CLOSED,01/24/1990,73,ST.IS,1270 HUGUENOT AVENUE,1990-01-24,1990,1,24
...,...,...,...,...,...,...,...,...,...,...
2895348,2379977,CLOSED,11/09/2023,1U,SPOPS,1060 WASHINGTON AVENUE,2023-11-09,2023,11,9
2895349,3936227,CLOSED,11/21/2023,49,SPOPS,2378 FLATBUSH AVENUE,2023-11-21,2023,11,21
2895350,5181063,CLOSED,11/27/2023,05,SPOPS,83 GAR SUMNER AVENUE,2023-11-27,2023,11,27
2895351,5181091,CLOSED,11/28/2023,1U,SPOPS,83 GAR SUMNER AVENUE,2023-11-28,2023,11,28
2895352,4945224,CLOSED,12/12/2023,35,QNS.,101-61 118 STREET,2023-12-12,2023,12,12

In [59]:
com_df_or['complaint_category'] = com_df_or['complaint_category'].astype(str)

In [60]:
com_df_or = pd.merge(com_df_or, expl, on='complaint_category', how='left')

In [61]:
com_df_or.head()

,complaint_number,status,date_entered,complaint_category,unit,full_add,Complaint Issue Date,Complaint Year,Month,Day,COMPLAINT CATEGORY DESCRIPTION,PRIORITY
0,3012631,CLOSED,10/22/1990,5,BKLYN,9725 SHORE ROAD,1990-10-22,1990,10,22,Permit - None (Building/PA/Demo etc.),B
1,3007871,CLOSED,02/27/1990,29,BKLYN,2105 PACIFIC ST,1990-02-27,1990,2,27,"Building - Vacant, Open and Unguarded",C
2,1005092,CLOSED,01/16/1990,73,MAN.,26 UNION SQUARE EAST,1990-01-16,1990,1,16,Failure to Maintain,C
3,3007966,CLOSED,03/02/1990,5,BKLYN,8419 10 AVE,1990-03-02,1990,3,2,Permit - None (Building/PA/Demo etc.),B
4,5003506,CLOSED,01/24/1990,73,ST.IS,1270 HUGUENOT AVENUE,1990-01-24,1990,1,24,Failure to Maintain,C

In [62]:
com_df_or.to_csv('complaints_data_transformed.csv', index=False)

s3_client.upload_file(Filename='complaints_data_transformed.csv', Bucket='transf-dob', Key='complaints_data_transformed.csv')

In [79]:
com_df_or.head()

,complaint_number,status,date_entered,complaint_category,unit,full_add,Complaint Issue Date,Complaint Year,Month,Day,COMPLAINT CATEGORY DESCRIPTION,PRIORITY
0,3012631,CLOSED,10/22/1990,5,BKLYN,9725 SHORE ROAD,1990-10-22,1990,10,22,Permit - None (Building/PA/Demo etc.),B
1,3007871,CLOSED,02/27/1990,29,BKLYN,2105 PACIFIC ST,1990-02-27,1990,2,27,"Building - Vacant, Open and Unguarded",C
2,1005092,CLOSED,01/16/1990,73,MAN.,26 UNION SQUARE EAST,1990-01-16,1990,1,16,Failure to Maintain,C
3,3007966,CLOSED,03/02/1990,5,BKLYN,8419 10 AVE,1990-03-02,1990,3,2,Permit - None (Building/PA/Demo etc.),B
4,5003506,CLOSED,01/24/1990,73,ST.IS,1270 HUGUENOT AVENUE,1990-01-24,1990,1,24,Failure to Maintain,C

In [81]:
com_df_or.groupby(['Complaint Year', 'PRIORITY', 'COMPLAINT CATEGORY DESCRIPTION'])['complaint_number'].count().reset_index()

,Complaint Year,PRIORITY,COMPLAINT CATEGORY DESCRIPTION,complaint_number
0,1989,A,Accident - Construction/Plumbing,17
1,1989,A,Adjacent Buildings - Not Protected,93
2,1989,A,Boiler - Fumes/Smoke/Carbon Monoxide,29
3,1989,A,Building Shaking/Vibrating/Structural Stabilit...,171
4,1989,A,Crane - No Permit/License/Cert/Unsafe/Illegal,13
...,...,...,...,...
2109,2024,D,FaÃ§ade (LL11/98) - Unsafe Notification,158
2110,2024,D,M.A.R.C.H. Program (Interagency),1
2111,2024,D,Retaining Wall Tracking Complaint,5
2112,2024,D,Vent/Exhaust - Illegal/Improper,682
2113,2024,D,Zoning - Non-conforming,1022

In [82]:
vio_df.head()

,violation_type_code,violation_number,description,number,violation_category,violation_type,full_add,Violation Issue Date,Year,Month,Day
0,E,1391A/02,51)CLEAN INSTALLATION 52)REPAIR CAB WALLS 53)P...,V121788E1391A/02,V-DOB VIOLATION - ACTIVE,E-ELEVATOR ...,37 WESTERN AVENUE,1970-01-01 00:00:00.019881217,1970.0,1.0,1.0
1,C,0805GPF,Violation Remarks not provided,V110388C0805GPF,V-DOB VIOLATION - ACTIVE,C-CONSTRUCTION ...,16 MONTREAL AVENUE,1970-01-01 00:00:00.019881103,1970.0,1.0,1.0
2,UB,-77/88,Violation Remarks not provided,V111888UB-77/88,V-DOB VIOLATION - ACTIVE,UB-UNSAFE BUILDINGS ...,261 HAMILTON AVENUE,1970-01-01 00:00:00.019881118,1970.0,1.0,1.0
3,C,ESAC1,Violation Remarks not provided,V101488CESAC1,V-DOB VIOLATION - ACTIVE,C-CONSTRUCTION ...,1131 BAY STREET,1970-01-01 00:00:00.019881014,1970.0,1.0,1.0
4,C,0901GPF,Violation Remarks not provided,V110388C0901GPF,V-DOB VIOLATION - ACTIVE,C-CONSTRUCTION ...,360 BARLOW AVENUE,1970-01-01 00:00:00.019881103,1970.0,1.0,1.0

In [83]:
vio_df.groupby(['Year','violation_category', 'violation_type'])['violation_number'].count().reset_index()

#fix violation chart

,Year,violation_category,violation_type,violation_number
0,1970.0,V-DOB VIOLATION - ACTIVE,A-SEU ...,56
1,1970.0,V-DOB VIOLATION - ACTIVE,ACC1-(OTHER BLDGS TYPES) - ELEVATOR AFFIRMATIO...,17302
2,1970.0,V-DOB VIOLATION - ACTIVE,ACH1-(NYCHA) - ELEVATOR AFFIRMATION OF CORRECT...,31
3,1970.0,V-DOB VIOLATION - ACTIVE,ACJ1-(PRIVATE RESIDENCE) - ELEVATOR AFFIRMATIO...,563
4,1970.0,V-DOB VIOLATION - ACTIVE,AEUHAZ1-FAIL TO CERTIFY CLASS 1 ...,29930
...,...,...,...,...
113,2024.0,V-DOB VIOLATION - ACTIVE,UB-UNSAFE BUILDINGS ...,27
114,2024.0,V-DOB VIOLATION - ACTIVE,Z-ZONING ...,3
115,2024.0,VPW-VIOLATION UNSERVED ECB-WORK WITHOUT PERMIT...,C-CONSTRUCTION ...,20
116,2024.0,VW-VIOLATION WORK WITHOUT PERMIT - ACTIVE,C-CONSTRUCTION ...,6
117,2024.0,VW-VIOLATION WORK WITHOUT PERMIT - ACTIVE,UB-UNSAFE BUILDINGS ...,1

In [84]:
vio_df.dtypes

violation_type_code      object
violation_number         object
description              object
number                   object
violation_category       object
violation_type           object
full_add                 object
Violation Issue Date     object
Year                    float64
Month                   float64
Day                     float64
dtype: object